.card-wrapper {
  color: inherit;
  height: 100%;
  position: relative;
  text-decoration: none;
}

.card {
  text-decoration: none;
  text-align: var(--text-alignment);
}

.card:not(.ratio) {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card.card--horizontal {
  --text-alignment: left;
  --image-padding: 0rem;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.5rem;
}

.card--horizontal.ratio:before {
  padding-bottom: 0;
}

.card--card.card--horizontal {
  padding: 1.2rem;
}

.card--card.card--horizontal.card--text {
  column-gap: 0;
}

.card--card {
  height: 100%;
}

.card--card,
.card--standard .card__inner {
  position: relative;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: var(--border-width) solid rgba(var(--color-foreground), var(--border-opacity));
}

.card--card:after,
.card--standard .card__inner:after {
  content: '';
  position: absolute;
  z-index: -1;
  width: calc(var(--border-width) * 2 + 100%);
  height: calc(var(--border-width) * 2 + 100%);
  top: calc(var(--border-width) * -1);
  left: calc(var(--border-width) * -1);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-horizontal-offset) var(--shadow-vertical-offset) var(--shadow-blur-radius) rgba(var(--color-shadow), var(--shadow-opacity));
}

.card .card__inner .card__media {
  overflow: hidden;
  /* Fix for Safari border bug on hover */
  z-index: 0;
  border-radius: calc(var(--border-radius) - var(--border-width) - var(--image-padding));
}

.card--card .card__inner .card__media {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.card--standard.card--text {
  background-color: transparent;
}

.card-information {
  text-align: var(--text-alignment);
}

.card__media,
.card .media {
  bottom: 0;
  position: absolute;
  top: 0;
  
}
.card .media {
  width: 100%;
  border: 1px solid #262424;
  border-radius: 10px;
}

@media screen and (min-width: 750px) {
  .card .media {
    width: 100%;
    border: 1px solid #262424;
    border-radius: 20px;
  }
}

.card__media {
  margin: var(--image-padding);
  width: calc(100% - 2 * var(--image-padding));
}

.card--standard .card__media {
  margin: var(--image-padding);
}

.card__inner {
  width: 100%;
}

.card--media .card__inner .card__content {
  position: relative;
  padding: calc(var(--image-padding) + 1rem);
}

.card__content {
  display: grid;
  grid-template-rows: minmax(0,1fr) max-content minmax(0,1fr);
  padding: 1rem;
  width: 100%;
  flex-grow: 1;
}

.card__content--auto-margins {
  grid-template-rows: minmax(0,auto) max-content minmax(0,auto);
}

.card__information {
  grid-row-start: 2;
  padding: 12px 1rem 1.3rem;
}

.card:not(.ratio) > .card__content {
  grid-template-rows: max-content minmax(0,1fr) max-content auto;
}

.card__inner.new {
  --ratio-percent: {{ 1 | divided_by: ratio | times: 115 }}%;
}
@media screen and (min-width: 750px) {
  .card__information {
    padding-bottom: 1.7rem;
    padding-top: 1.7rem;
  }
}
@media screen and (min-width: 768px) {
  .card__inner.new {
    --ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;
  }
}
@media screen and (min-width: 1536px) {
  .card__inner.new {
    --ratio-percent: {{ 1 | divided_by: ratio | times: 115 }}%;
  }
}
.card__badge {
  align-self: flex-start;
  grid-row-start: 1;
  justify-self: flex-start;
  position: relative;
    top: -12px;
}

.card__badge.top {
  align-self: flex-start;
  grid-row-start: 1;
}

.card__badge.right {
  justify-self: flex-end;
}

.card:not(.card--horizontal) > .card__content > .card__badge {
  margin: 1.3rem;
}

.card__media .media img {
  height: 100%;
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

.card__inner:not(.ratio) > .card__content {
  height: 100%;
}

.card__heading {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #262424;
}
@media only screen and (min-width: 640px) {
  .card__heading {
    font-size: 16px;
    line-height: 24px;
  }
}
@media only screen and (min-width: 768px) {
  .card__heading {
    font-size: 18px;
    line-height: 28px;
  }
}
@media only screen and (min-width:1024px) {
  .card__heading {
    font-size: 16px;
    line-height: 26px;
  }
}
@media only screen and (min-width:1536px) {
  .card__heading {
    font-size: 18px;
    line-height: 28px;
  }
}
@media only screen and (min-width: 1750px) {
  .card__heading {
    font-size: 20px;
    line-height: 30px;
  }
}

.card__heading:last-child {
  margin-bottom: 0;
}

.card--horizontal .card__heading,
.card--horizontal .price__container .price-item,
.card--horizontal__quick-add {
  font-size: calc(var(--font-heading-scale) * 1.2rem);
}

.card--horizontal .card-information > *:not(.visually-hidden:first-child) + *:not(.rating) {
  margin-top: 0;
}

.card--horizontal__quick-add:before {
  box-shadow: none;
}

@media only screen and (min-width: 750px) {
  .card--horizontal .card__heading,
  .card--horizontal .price__container .price-item,
  .card--horizontal__quick-add {
    font-size: calc(var(--font-heading-scale) * 1.3rem);
  }
}

.card--card.card--media > .card__content {
  margin-top: calc(0rem - var(--image-padding));
}

.card--standard.card--text a::after,
.card--card .card__heading a::after {
  bottom: calc(var(--border-width) * -1);
  left: calc(var(--border-width) * -1);
  right: calc(var(--border-width) * -1);
  top: calc(var(--border-width) * -1);
}

.card__heading a::after {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.card__heading a:after {
  outline-offset: 0.3rem;
}

.card__heading a:focus:after {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
}

.card__heading a:focus-visible:after {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
}

.card__heading a:focus:not(:focus-visible):after {
  box-shadow: none;
  outline: 0;
}

.card__heading a:focus {
  box-shadow: none;
  outline: 0;
}

@media screen and (min-width: 990px) {
  .card .media.media--hover-effect > img:only-child,
  .card-wrapper .media.media--hover-effect > img:only-child {
    transition: transform var(--duration-long) ease;
  }

  .card:hover .media.media--hover-effect > img:first-child:only-child,
  .card-wrapper:hover .media.media--hover-effect > img:first-child:only-child {
    transform: scale(1.03);
  }

  .card-wrapper:hover
    .media.media--hover-effect
    > img:first-child:not(:only-child) {
    opacity: 0;
  }

  .card-wrapper:hover .media.media--hover-effect > img + img {
    opacity: 1;
    transition: transform var(--duration-long) ease;
    transform: scale(1.03);
  }

  .underline-links-hover:hover a {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }
}

.card--standard.card--media .card__inner .card__information,
.card--standard.card--text:not(.card--horizontal) > .card__content .card__heading,
.card--standard:not(.card--horizontal) > .card__content .card__badge,
.card--standard.card--text.article-card > .card__content .card__information,
.card--standard > .card__content .card__caption {
  display: none;
}

.card--standard > .card__content {
  padding: 0;
}

.card--standard > .card__content .card__information {
  padding-left: 0;
  padding-right: 0;
  text-align: center; 
}

.card--card.card--media .card__inner .card__information,
.card--card.card--text .card__inner,
.card--card.card--media > .card__content .card__badge {
  display: none;
}

.card--horizontal .card__badge,
.card--horizontal.card--text .card__inner {
  display: none;
}

.card--extend-height {
  height: 100%;
}

.card--extend-height.card--standard.card--text,
.card--extend-height.card--media {
  display: flex;
  flex-direction: column;
}

.card--extend-height.card--standard.card--text .card__inner,
.card--extend-height.card--media .card__inner {
  flex-grow: 1;
}

.card .icon-wrap {
  margin-left: 0.8rem;
  white-space: nowrap;
  transition: transform var(--duration-short) ease;
  overflow: hidden;
  display: none!important;
}

.card-information > * + * {
  margin-top: 0.5rem;
}

.card-information {
  width: 100%;
  text-align: center;
}

.card-information > * {
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  color: rgb(var(--color-foreground));
}

.card-information > .price {
  color: rgb(var(--color-foreground));
}

.card--horizontal .card-information > .price {
  color: rgba(var(--color-foreground), 0.75);
}

.card-information > .rating {
  margin-top: 0.4rem;
}



.card-information
  > *:not(.visually-hidden:first-child)
  + *:not(.rating) {
    margin-top: 0;
}

.card-information .caption {
  letter-spacing: 0.07rem;
}

.card-article-info {
  margin-top: 1rem;
}
.collection_name.card__content .card__information .card__heading {
  display: block!important;
  position: absolute!important;
  bottom: 30px;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  padding: 0!important;
  top: 0;
}
.collection_name.card__content .card__information {
  padding-bottom: 0;
  padding-top: 0;
  padding: 0!important;
  display: block!important;
}
.collection_name.card__content  .card__information .card__heading {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
.collection_name.card__content  .card__information a.full-unstyled-link {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: all .4s ease-out;
}
.collection_name.card__content  .card__information a.full-unstyled-link .buton_style {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  min-height: 53px;
  background: #FFFFFF;
  border: 1px solid #000000;
  color: #FF5F53;
  border-radius: 100px;
  margin: 0 auto;
  margin-bottom: -19px;
  transition: all .4s ease-out;
}
.collection_name.card__content  .card__information a.full-unstyled-link:hover .buton_style {
  background: #FF5F53;
  border: 1px solid #FF5F53;
  color: #fff;
  transition: all .4s ease-out;
}
@media only screen and (min-width: 768px) {
  .collection_name.card__content  .card__information .card__heading {
    font-size: 24px;
    line-height: 34px;
  }
  .collection_name.card__content .card__information a.full-unstyled-link .buton_style {
    min-height: 60px;
    min-width: 295px;
    margin-bottom: -23px;
  }
}

@media only screen and (min-width: 1024px) {
  .card-information
    > *:not(.visually-hidden:first-child)
    + *:not(.rating) {
      margin-top: 5px;
  }
}


@media only screen and (min-width: 1440px) {
  .collection_name.card__content  .card__information a.full-unstyled-link .buton_style {
    padding: 18px 10px;
    min-width: 334px;
    min-height: 60px;
  }
  .collection_name.card__content  .card__information .card__heading {
    font-size: 27px;
    line-height: 34px;
  }
  .collection_name.card__content .card__information a.full-unstyled-link .buton_style {
      min-height: 65px;
      min-width: 300px;
      margin-bottom: -31px;
  }
}

