.video-section__media {
  --ratio-percent: 56.25%;
  position: relative;
  /* padding-bottom: calc(var(--ratio-percent) - var(--media-border-width)); */
  padding-bottom: 85%;
}

.video-section__media.global-media-settings--full-width {
  padding-bottom: var(--ratio-percent);
}

.video-section__media.deferred-media {
  box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius) rgba(var(--color-shadow), var(--media-shadow-opacity));
}

.video-section__media.deferred-media:after {
  content: none;
}

.video-section__poster.deferred-media__poster:focus {
  outline-offset: 0.3rem;
}

.video-section__poster.deferred-media__poster {
  border: 1px solid #262424;
  border-radius: 10px;
}
@media (min-width: 500px) {
  .video-section__media {
    padding-bottom: calc(var(--ratio-percent) - var(--media-border-width));
  }
}
@media (min-width: 768px) {
  .video-section__poster.deferred-media__poster {
    border-radius: 20px;
  }
}
.video-section__media iframe {
  background-color: rgba(var(--color-foreground), 0.03);
  border: 0;
}

.video-section__poster,
.video-section__media iframe,
.video-section__media video {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.video-section__media video {
  background: #000000;
}

.video-section__media.media-fit-cover video {
  object-fit: cover;
}

deferred-media.video-section__media {
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
}
@media (min-width: 768px) {
  deferred-media.video-section__media {
    width: 650px;
    margin: 0 auto;
    border-radius: 20px;
  }
}

@media (min-width: 1024px) {
  deferred-media.video-section__media {
    width: 900px;
  }
}

@media (min-width: 1440px) {
  deferred-media.video-section__media {
    width: 1200px;
  }
}

@media (min-width: 1750px) {
  deferred-media.video-section__media {
    width: 1336px;
  }
}
@media (min-width: 2100px) {

}